#header {
	background-image: url("res/header.jpeg");
	height: 160px;
	padding: 15px;
	color: white;
	text-indent: 50px;
}

#links {
	float: left;
	width: 15%;
	margin: 0 0 0 2.5%;
	line-height: 1.1em;
	position: fixed;
}

#main {
	line-height: 1.5em;
	float: right;
	width: 75%;
	margin: 0 2.5%;
}	 

body {
	font-family: verdana, sans-serif; 
	margin: 0;
	padding: 0;}

/* ????? */
ul#tests, ul.info {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#tests li, ul.info li {
	margin-top: 1em;
}

h2 {
   border-bottom: 4px solid #663300;
}


table, th, td {
    font-size: 11pt;
    text-align: center;
    border: 2px solid #383838;
    padding: 3pt;
}

table {
    border-collapse: collapse;
    margin: 3pt;
}

th {
    background-color: #eeeeee;
}

img {
    margin: 2pt;
}

.underline
{
     border-bottom: 2px solid #663300;
}

.best {
background-color: #00FF00
}

.worst {
background-color: #FF0000
}

.toc {
    margin-top: 25pt;
    margin-bottom: 15pt;
    background-color: #C2D7ED;
    text-align: left;
    border: 2px dotted #3465A4;
    padding: 5pt;
    width: 25%;
}

.charts {
	text-align: center;
}

.ind {
   margin-left: 20px;
}
