.ac_info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15pt;
    margin-bottom: 15pt;
    background-color: #C2D7ED;
    text-align: center;
    border: 2px dotted #3465A4;
    padding: 5pt;
    width: 70%;
}

